<!DOCTYPE html>
<html>
  <head>
    <title>Card Grid Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
      .card {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Home</a>
    </nav>
    <div class="container">
      <h1>Restaurants</h1>
      <div class="row">
        {% for restaurant in restaurants %}
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" alt="Card Image" />
            <div class="card-body">
              <h5 class="card-title">{{ restaurant.name }}</h5>
              <p class="card-text">{{ restaurant.description }}</p>
              <a href="/reviews/{{ restaurant.id}}" class="btn btn-primary">Reviews</a>
              <a href="/review/{{ restaurant.id}}" class="btn btn-primary">Leave a Review</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
